*.swp
node_modules/
nohup.out
*.log
.DS_Store
coverage.html
cov/
.idea/
out/
.cov/
.lock-wscript
build/
config/config.js
dump.rdb
hsf_java/*/target/
.tmp
assets.json
*.min.*.js
*.min.*.css
bin/*.json
/run
/log
/logs
/tests/exec
/tests/logs
/etc/config.yaml
/etc/init/config.yaml
/etc/admin/config.yaml
/etc/outside/config.yaml
/etc/deploy/config.yaml
/etc/ysf/config.yaml
persistence.js
/bin/*.zip
